{%extends 'base.html' %}

{%block contents %}

<body>
    <div class="jumbotron jumbotron-fluid" style="padding-top:100px;" >
        <div class="container">
            <h1 class="display-4" style="font-size:50px; font-weight:600; color:darkslategray" >등록된 채용공고 </h1>
            <p class="lead"> &nbsp;&nbsp; 등록된 채용공고를 확인해 주세요. </p>
            <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 현재 등록된 채용공고 : {{recruitlist_count}}</h6>

            <form action="{% url 'position_search' %}" method="get" style="padding-left:25px; margin-top:15px">
                <input type="text" name="q" value="{{ q }}">
                <input type="submit" value="검색">
            </form>

        </div>
    </div>
    
    {% for recruitlist in posts %}
    <div class="container">
        <div class="card" style="padding:7px" >
            <div class="card-body">
            <a href=" {% url 'position_detail' recruitlist.id %} "> <h5 class="card-title">{{recruitlist.recruit_company_name}}</h5></a>
            <h5 class="card-title">{{recruitlist.summary}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> 직무 : {{recruitlist.recruit_position}} - {{recruitlist.recruit_position_detail}} </h6>
            <h6 class="card-subtitle mb-2 text-muted"> 직급 : {{recruitlist.recruit_position2}}</h6> 
            <p class="card-text">{{recruitlist.recruit_position_detail2}} ... </p>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <a class="page-link" href="?page=1">First</a>
            {% if posts.has_previous %}
                <a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a>
            {% endif %}
          <li class="page-item"><a class="page-link" href="?page={{posts.number}}">{{posts.number}}</a></li>
          <li class="page-item"><a class="page-link" >of</a></li>
          <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
            {% endif %}
            <a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a>
          </li>
        </ul>
    </nav>

</body>

{%endblock%}