{%extends 'base.html' %}

{%block contents%}

<div class="jumbotron jumbotron-fluid" style="padding-top:100px;" >
    <div class="container">
      <h1 class="display-4" style="font-size:50px; font-weight:600; color:darkslategray" >채용공고 등록</h1>
      <p class="lead"> &nbsp;&nbsp;새로운 채용공고를 등록해 주세요.</p>
    </div>
</div>
<div class="container">
    <!-- <h1> Register </h1> -->

    <form method = "POST" action = "{% url 'position_create' %}"> <!-- 주의코드 --> 
        {%csrf_token%}<!-- 주의코드 -->

        <div class="card" >
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;" >채용 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted">채용 정보 입력</h6>
                기업명 :
                <input name="recruit_company_name" size="10" type="text" style="margin-left: 72px; margin-top: 10px; width:200px;">
                <br>
                채용내용 요약 :
                <input name="recruit_summary" size="10" type="text" style="margin-left: 20px; margin-top: 10px; width:500px;">
                <br>
                지원회사 분류 :
                <select name = 'recruit_company' class="selectpicker" data-live-search="true" style="margin-left: 50px; margin-top: 30px; ">
                    <option value="null" selected  >해당 없음</option>
                    {% for company_list in company_list %}
                        <option value="{{company_list}}" style="color: black">{{company_list}}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;"  >채용 포지션 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted">채용 포지션 분류</h6>

                채용직무 :
                <select class="selectpicker" name = 'recruit_position'  data-live-search="true" style="margin-left: 10px">
                    <option value="null" selected  >해당 없음</option>
                    {% for position in position %}
                        <option value="{{position}}" style="color: black">{{position}}</option>
                    {% endfor %}
                </select>
                <br>
                채용직급 :
                <select class="selectpicker" name = 'recruit_position2' data-live-search="true" style="margin-left: 10px">
                    <option value="null" selected  >해당 없음</option>
                    {% for position2 in position2 %}
                        <option value="{{position2}}" style="color: black">{{position2}}</option>
                    {% endfor %}
                </select>
                <br>
                직무상세 :
                <select class="selectpicker" name = 'recruit_position_detail' data-live-search="true" style="margin-left: 10px">
                    <option value="null" selected  >해당 없음</option>
                    <optgroup label="경영지원">
                    {% for position_detail1 in position_detail1 %}
                        <option value="{{position_detail1}}" style="color: black">{{position_detail1}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="IT개발">
                    {% for position_detail2 in position_detail2 %}
                        <option value="{{position_detail2}}" style="color: black">{{position_detail2}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="생산/제조/연구개발">
                    {% for position_detail3 in position_detail3 %}
                        <option value="{{position_detail3}}" style="color: black">{{position_detail3}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="영업/마케팅">
                    {% for position_detail4 in position_detail4 %}
                        <option value="{{position_detail4}}" style="color: black">{{position_detail4}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="전문직/특수직무">
                    {% for position_detail5 in position_detail5 %}
                        <option value="{{position_detail5}}" style="color: black">{{position_detail5}}</option>
                    {% endfor %}
                    </optgroup>
                </select>
                <br>
                연봉 :
                <input name="recruit_salary" size="10" type="number" min='0' style="margin-left: 33px; margin-top: 10px; width:100px; " value="">(만원)
                <br>
                <br>
                채용직무 상세설명 :
                <br>
                <textarea name="recruit_position_detail2" cols='135' rows='5' style=" margin-left: 10px; margin-top: 10px;" placeholder="상세 사항을 적어주세요 ... " ></textarea>
                <br>
                <br>

            </div>
        </div>

        
        <div class="card" style="">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;" >채용기업 상세정보</h5>
                    <textarea name="recruit_company_detail" cols='135' rows='20' style="margin-left: 10px; margin-top: 10px;" placeholder="상세 사항을 적어주세요 ... " ></textarea>
                    <br>
                    <br>
            </div>
        </div>
        <br>
        <button class = "btn btn-secondary" type="submit" style="margin-bottom: 200px;" >등록하기</button>
    </form>
</div>
</div>
{%endblock%}
